:root{
    --tile1: #f0d9b5;
    --tile2: #b58863;
}

main{
    margin: 0px;
    padding: 0px;
    width: 720px;
    height: 720px;
    border: 2px solid black;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
main .row{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 12.5%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
main .tile{
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    width: 12.5%;
    height: 100%;
    max-width: 90px;
    max-height: 90px;
    border: 2px black solid;
    box-sizing: border-box; 
}
main .tile:hover{
    background-color: #67e64b !important;
}
main .row:nth-child(2n) .tile:nth-child(2n), main .row:nth-child(2n+1) .tile:nth-child(2n+1){
    background-color: var(--tile1);
}
main .row:nth-child(2n) .tile:nth-child(2n+1), main .row:nth-child(2n+1) .tile:nth-child(2n){
    background-color: var(--tile2);
}