:root{
    --tile1: #f0d9b5;
    --tile2: #b58863;
    --tile-size: 90px;
    --green: #67e64b;
}

main{
    display: flex;
    flex-direction: row;
}
main #board{
    margin: 0px;
    padding: 0px;
    width: 720px;
    height: 720px;
    border: 2px solid black;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
main .row{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 12.5%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
main .tile{
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    width: 12.5%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 92%;
    max-width: var(--tile-size);
    max-height: var(--tile-size);
    border: 2px black solid;
    box-sizing: border-box;  
}
main .tile:hover{
    background-color: var(--green) !important;
}
main .row:nth-child(2n) .tile:nth-child(2n), main .row:nth-child(2n+1) .tile:nth-child(2n+1){
    background-color: var(--tile1);
}
main .row:nth-child(2n) .tile:nth-child(2n+1), main .row:nth-child(2n+1) .tile:nth-child(2n){
    background-color: var(--tile2);
}

#choose_piece{
    margin-left: 20px;
    background-color: #666;
    display: flex;
    flex-direction: column;
}
#choose_piece input{
    cursor: pointer;
    margin: 10px;
    width: var(--tile-size);
    height: var(--tile-size);
    line-height: var(--tile-size);
    font-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 95%;
    background-color: var(--tile2);
}
#choose_piece input:hover{
    background-color: var(--tile1) !important;
}
#choose_piece input:nth-child(1){
    background-image: url("../img/rook.svg");
}
#choose_piece input:nth-child(2){
    background-image: url("../img/bishop.svg");
}
#choose_piece input:nth-child(3){
    background-image: url("../img/knight.svg");
}
#choose_piece input:nth-child(4){
    background-image: url("../img/queen.svg");
}
#choose_piece input:nth-child(5){
    background-image: url("../img/king.svg");
}




